@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.bg {
    background-color: #DBDCDD;
    width: 90%;
    margin: auto;
}

h1 {
    text-align: center;
    padding-left: 1em;
    padding-top: 2em;  
}

p {
    margin: 0;
    text-align: center;
    padding-left: 1em; 
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -4em;
    padding: 0.75em 0.75em;
    text-decoration: none;
    color: #000;
}

.skip-links a:focus {
    top: 0;
    outline: 1px;
}

a:hover, 
a:active {
    outline: none;   
}

.nav {
    height: 60px;
    width: 90%;
    margin: auto;
    background: #54C9ED;
    box-shadow: 0 0 7px rgba(0, 0, 0, .7); 
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav ul li {
    list-style: none;
    display: inline;
}

.nav ul li a {
    text-decoration: none;
    padding: 10px 30px;
    margin: auto;
    color: #fff;
    float: right;
    text-align: center;
    display: block;
    transition: all .50s linear;

}

.nav ul li a:hover {
    color: #000;
    cursor: pointer;
}


.img-1-4 {
    margin: auto;
    padding: 1em; 
    cursor: pointer;

}

.circle {
    top: 10em;
    margin: auto;
    float: center;
    left: 5em;
    
    display: block;
    
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .7);
    background: url(../img/orange-and-teal-color-scheme.png) no-repeat;
    
}

.bgcolour {
    background-color: #fff;
    width: 90%;
    margin: auto;
}

.info {
    height: 70vh;
    width: 90%;
    margin: auto;
    padding: 6em;
    background-color: #fff;
    color: #707A83;
}

.sub {
    text-align: center;
    background: #54C9ED;
    margin: auto;
    height: 3em;
    color: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, .7);
}

.icons {
    max-width: 9em;
    max-height: 9em;
    position: relative;
    
    margin: auto;
    cursor: pointer;

}

.social {
    padding: 5px;
}