@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.nav {
    height: 40px;
    background: #54C9ED;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav ul li {
    list-style: none;   
}

.nav ul li a {
    text-decoration: none;
    display: block;
    float: right;
    padding: 6px 11px;
    color: #fff;
    
}

.nav ul li a:hover {
    color: #000;
}
    
