@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.img-flex {
    display: block;
    width: 100%;
}

.img-large {
    display: block;
    width: 100%;
    height: 30em;
}

.img1 {
    width: 100%;
    height: 35em;

    display: block;
    align-content: center;
}

.zoom {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.zoom:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

.center {
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
}

.bg {
    background-color: #DBDCDD;
    width: 90%;
    margin: auto;
}

h1 {
    text-align: center;
    margin: 0;
}

h2 {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
}

.second {
    text-align: center;
    padding: 0;
    margin: 0;
}

.turtle {
    width: 100%;
    height: 20em;
    display: block;
}

p {
    margin: 0;
    text-align: center;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -4em;
    padding: 0.75em 0.75em;
    text-decoration: none;
    color: #000;
}

.skip-links a:focus {
    top: 0;
    outline: 1px;
}

a:hover, 
a:active {
    outline: none;   
}

.nav {
    height: 60px;
    width: 90%;
    margin: auto;
    background: #54C9ED;
    box-shadow: 0 0 7px rgba(0, 0, 0, .7); 
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav ul li {
    list-style: none;
    display: inline;
}

.nav ul li a {
    text-decoration: none;
    padding: 10px 30px;
    margin: auto;
    color: #fff;
    float: right;
    text-align: center;
    display: block;
    
    -webkit-transition: all .50s linear; 
    transition: all .50s linear;
}

.nav ul li a:hover {
    color: #000;
    cursor: pointer;
}

.img-1-4 {
    margin: auto;
    padding: 1em; 
    cursor: pointer;
}

.circle {
    top: 10em;
    margin: auto;
    float: center;
    left: 5.5em;
    
    display: block;
    
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .7);
    background: url(../img/me.jpg) center no-repeat;   
}

.bgcolour {
    background-color: #fff;
    width: 90%;
    margin: auto;
}

.info {
    height: 100%;
    width: 90%;
    margin: auto;
    padding: 6em;
    background-color: #fff;
    color: #707A83;
}

.sub {
    text-align: center;
    background: #54C9ED;
    margin: auto;
    height: 3em;
    color: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, .7);
}

.icons {
    width: 20em;
    position: relative;
    
    margin: auto;
    cursor: pointer;
}

.works {
    width: 100%;
    padding: 4em;
    margin: auto;
    min-height: 500px;  
}

.lightbox {
    display: none;
    position: fixed;
    width: 100%;
    height: 110%;
    top: 0;
    left: 0;
    background: rgba(225, 225, 225, 1);
    text-align: left;
    text-decoration: none !important;
    
    overflow-y: auto;
}

.lightbox img {
    max-width: 100%;
    max-height: 100%;
}

.lightbox:target {
    outline: none;
    display: block;
}

.lightboxtitle {
    color: #fff;
}

.lb-text {
    text-decoration: none;
    color: black;
    list-style-type: none;
} 

.text {
    width: auto;
    line-height: 1.45;
    padding: 0;
}

.nowrap {
    white-space: nowrap;
}

.embed {
    position: relative;
}

.embed__item {
    width: 100%;
    height: 100%;
    position: inherit;
    border: solid 1px black;
}

.icons a {
    text-decoration: none;
    font-size: 4em;
    color: #707A83; 
}

.icons a:hover {
    color: #54C9ED;
}

.contact {
    padding: 1em;
}

.email {
    color: #fff;
    font-size: 20px;
    
}

h5 {
    color: #707A83;
    font-size: 30px;
    margin: 0;
} 