<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Kara Maloney — Graphic Design Portfolio — Ottawa, Ontario</title>
    <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
   
    <meta name="description" content="Kara Maloney's Graphic Design Portfolio">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
    
<body class="bg">
      
<nav>   
   <div class="header" id="navigation"> 
        <div class="nav">
            
            <ul>
                <li><a href="{{site.baseurl}}#info">Info</a></li>
                <li><a href="{{site.baseurl}}#work">Portfolio</a></li>
            </ul>
        </div>
    </div>
</nav> 
    
    {{content}}
    
</body>
</html>